/*Removes padding and margin from all elements*/
* {
  padding: 0;
  margin: 0;
}

/*Set page size and backround image*/
html {
  background-image: url(./img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Set page layout direction*/
body {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex: 1;
  display: flex;
}

footer {
  width: 200px;
}

td {
  border: 1px solid white;
}

th,
td {
  width: 30px;
  height: 30px;
}

.dragAndDrop {
  display: flex;
  flex-direction: column;
}

.shipContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shipInnerContainer {
  display: flex;
  gap: 20px;
}

.shipOuter {
  border: 1px dotted greenyellow;
  height: 30px;
}

#battleship {
  width: 134px;
}

div[id^="destroyer"] {
  width: 100px;
}

div[id^="submarine"] {
  width: 66px;
}

div[id^="patrol"] {
  width: 30px;
}

.ship {
  border: 2px solid greenyellow;
  background-color: rgb(255, 255, 129);
  height: 30px;
}
