/*Removes padding and margin from all elements*/
* {
  padding: 0;
  margin: 0;
}

/*Set page layout direction, backround image, and page size*/
.pageContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  background-image: url(./img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  height: max(821px, 100vh);
  width: max(1440px, 100vw);
}

/*Centering the winner display*/
.winnerDiv {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 150px;

  display: none;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  color: antiquewhite;
  background-color: rgba(0, 128, 0, 0.7);

  border: 2px solid antiquewhite;
  border-radius: 5px;
}

/*Set main container layout*/
.mainContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

/*Align player boards and names*/
.p1Div,
.p2Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Player name styling*/
.p1Name,
.p2Name {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  font-size: 17px;
  color: antiquewhite;

  padding: 5px 0;
  margin-top: 5px;
  width: 80%;

  display: flex;
  justify-content: center;
}

/*Player board styling*/
.p1Board,
.p2Board {
  padding: 4px 20px 20px 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/*Footer styling*/
footer {
  height: 60px;
  width: max(1440px, 100vw);
  margin-top: 20px;
  padding: 5px 0;

  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;

  color: antiquewhite;

  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 25px;
}

.copyright {
  font-size: 15px;
}

/*Table cell styling*/
td {
  border: 1px solid antiquewhite;
  border-radius: 5px;
}

th {
  color: antiquewhite;
}

th,
td {
  width: 35px;
  height: 35px;
}

.cellDiv {
  height: 35px;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*Set layout of drag ships and buttons*/
.uiContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.dragAndDrop,
.buttonDiv {
  display: flex;
  gap: 15px;
  width: 500px;
  font-size: 20px;
}

.ddPara {
  background-color: rgba(255, 127, 80, 0.6);
}

.buttonDiv {
  justify-content: center;
  align-items: center;
}

/*Start and Restart button styling*/
button {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  background-color: antiquewhite;
  font-size: 15px;
}

.shipContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shipInnerContainer {
  display: flex;
  gap: 20px;
}

.shipOuter {
  border: 1px dotted antiquewhite;
  border-radius: 5px;
  height: 35px;
}

/*Drag ship/shipOuter widths*/
#battleship1,
#b1 {
  width: 150px;
}

div[id^="destroyer"],
#d11,
#d12 {
  width: 111px;
}

div[id^="submarine"],
#s11,
#s12,
#s13 {
  width: 72px;
}

div[id^="patrol"],
#p11,
#p12,
#p13,
#p14 {
  width: 33px;
}

/*Drag/Drop ship styling*/
.ship {
  border: 2px solid antiquewhite;
  border-radius: 5px;
  background-color: yellow;
  height: 35px;
}
